.textoMayusculas{
	text-transform: uppercase;
}

.textoBlanco{
	color:white;
}

.textoIzq{
	float: left;
}

.textoDer{
	float: right;
}

.textoBold{
	font-weight: bold;
}

.textoCenter{
	text-align: center;
}


.textoJustificado{
	text-align: justify;
}

.idioma{
	margin-top: 1em;
	margin-right: 1.5em;
}

.tituloQuienes{
	font-size: 2.5em !important;
	margin-left: .5em !important;	
}

.tituloEslogan{
	font-size: 3em !important;
	font-weight: bold;
}


.footerLogo{
	width: 40%;
}